<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Room</title>
</head>
<body>
    <textarea id="work-field" cols="100" rows="20"></textarea><br>

    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const roomSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/room/'
            + roomName
            + '/'
        );

        roomSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#work-field').value = (data.source_code);
        };

        roomSocket.onclose = function(e) {
            console.error('Web socket closed');
        };

        document.querySelector('#work-field').focus();

        document.querySelector('#work-field').oninput = function(e) {
            const InputDom = document.querySelector('#work-field');
            const source_code = InputDom.value;
            roomSocket.send(JSON.stringify({
                'source_code': source_code
            }));
        };
    </script>
</body>
</html>