<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Room</title>
    <link rel="stylesheet"  href="{%  static  'css/room.css'  %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css"></link>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/javascript/javascript.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/material-darker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <textarea id="work-field" class = "center"></textarea>
    <input type="button" value="Save" onclick="save()" class="btn btn-secondary btn-lg"></input>

    {{ room_name|json_script:"room-name" }}
    
    <script>
        myTextarea = document.getElementById('work-field');
       
        var editor = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
            indentUnit: 4,
            inputStyle: 'contenteditable',
            matchBrackets: true,
            styleSelectedText: true,
            mode: 'javascript',
            theme: 'material-darker',
        });

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        window.open(`http://localhost:3000/chat/${roomName}?name=${roomName}`, '_blank', 'toolbar=0,location=0,menubar=0');
        
        const roomSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/room/'
            + roomName
            + '/'
        );

        var detectChange = true;
        
        editor.focus();

        roomSocket.onmessage = (e) => {
            const data = JSON.parse(e.data);
            detectChange = false;
            cursorPos = editor.getCursor();
            editor.setValue(data.source_code);
            editor.setCursor(cursorPos);
            detectChange = true;
        };

        roomSocket.onclose = (e) => {
            console.error('Web socket closed');
        };

        editor.on('change', editor => {
            if(detectChange){
                const source_code = editor.getValue();  
                roomSocket.send(JSON.stringify({
                    'source_code': source_code
                }));  
            }   
        }); 

        let save = () => {
            let data = editor.getValue();

            const textAsBLOB = new Blob([data], { type: 'text/plain' });
            const FileName = 'code.js';
            let downloadLink = document.createElement("a");
            downloadLink.download = FileName;

            if (window.webkitURL) {
                downloadLink.href = window.webkitURL.createObjectURL(textAsBLOB);
            }
            else {
                downloadLink.href = window.URL.createObjectURL(textAsBLOB);
            }

            downloadLink.click(); 
        }
        
    </script>
</body>
</html>