body{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height:100vh;
}

#code-input{
    border: none;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}