.CodeMirror {
    border: 5px solid rgb(116, 130, 151); 
}

.CodeMirror-selected  { 
    background-color: rgb(186, 186, 219); 
}

.CodeMirror-selectedtext { 
    color: white; 
}

.styled-background { 
    background-color: rgb(27, 148, 218); 
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}